h1 {
  text-align: center;
  font-family: Georgia;
  color: black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
  font-family: Georgia;
  color: black;
  font-size: 18px
}
li {
  font-family: Georgia;
  color: black;
}
.footer { 
  positon: relative;    
  text-align: center;    
  bottom: 0px; 
  width: 100%;
} 
.speechbubble {
  position: relative;
  text-align: center;
}
.speechtext {
  position: absolute;
  top: 40%;
  left: 25%;
  font-size: 30px;
  font-family: Georgia;
  font-weight: bold;
}
.img {
  position: absolute;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}
.top {
  position: relative;
  width: 100%;
}
