.flyer {
  position: relative;
  width: 100%;
}
.bg {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0;
}
.img {
  position: absolute;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}
.img img {
  width: 100%;
  display: block;
}
.footer {    
  text-align: center;    
  width: 100%;
} 
