h1 {
  text-align: center;
  font-family: Georgia;
  color: black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.top {
}
p {
  font-family: Georgia;
  color: black;
  font-size: 18px
}
li {
  font-family: Georgia;
  color: black;
}
.footer{     
   text-align: center;    
   bottom: 0px; 
   width: 100%;
} 
  
